/* Font Faces */
@font-face {
  font-family: pl;
  src: url(plain-light-webfont.ttf);
}
@font-face {
  font-family: pr;
  src: url(plain-regular-webfont.ttf);
}
@font-face {
  font-family: silk serif lgt;
  src: url(silkserif-lightitalic-webfont.ttf);
}
@font-face {
  font-family: silk serif reg;
  src: url(silkserif-regularitalic-webfont.ttf);
}

/* Reset + Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #1b1b1b;
  font-family: pl;
  overflow: hidden;
  cursor: none; /* Prevent scroll when loader is visible */
}

#crsr {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  position: fixed;
  z-index: 9999;
  border: 1px solid #b3b3b3;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: transform 0.2s ease;
}

/* Loader Layout */
#loader {
  width: 100%;
  height: 100vh;
  background: #0c0c0c;
  padding: 16.2vh 5vw 0 5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

/* First Line Layout */
#line1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.numbers {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  font-size: 3vw;
  font-family: "silk serif lgt";
  padding-left: 7.8vw;
  margin-top: 0.3vh;
}

.main-text {
  font-size: 6.8vw;
  text-transform: uppercase;
  font-family: pl;
  font-weight: 500;
  line-height: 1;
}

#line1 h1 {
  padding-right: 50vw;
}

.faded {
  position: relative;
  font-family: "pr";
  font-style: normal;
  opacity: 1;
  animation: anime 5s infinite ease-in-out;
}
@keyframes anime {
  0% {
    font-family: "pr";
    font-style: normal;
    opacity: 1;
    color: white;
  }

  48% {
    font-family: "pr";
    font-style: normal;
    opacity: 0;
    color: white;
  }

  50% {
    font-family: "silk serif reg";
    font-style: italic;
    -webkit-text-stroke: 0.3px white;
    color: transparent;
    opacity: 1;
  }

  100% {
    font-family: "silk serif reg";
    font-style: italic;
    -webkit-text-stroke: 0.3px white;
    color: transparent;
    opacity: 0;
  }
}

.line {
  overflow: hidden;
}

/* Wait Message */
#wait-message {
  font-size: 1vw;
  line-height: 1.5;
  font-family: pr;
  position: absolute;
  bottom: 20vh;
  left: 28vw;
  max-width: 140px;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

/* Main content */
#main-content {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background: #0c0c0c;
}
#page1 {
  background-color: #151515;
  width: 100%;
  height: 100vh;
  position: relative;
}

#mainnav {
  width: 100%;
  height: 23vh;
  display: flex;
  /* background-color: cyan; */
}
#obyslogo {
  width: 27.5%;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5vw;
  gap: 3vw;
}
#obyslogo .brand__svg {
  width: 25%;
  height: 54%;
}
#obyslogo .menu-opener__square {
  width: 4.7%;
  height: 40%;
}
#nav {
  width: 72.5%;
  height: 8vw;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav #leftnav {
  width: 16.2vw;
  padding-top: 59px;
  line-height: 1.23vw;
}
#nav #rightnav {
  width: 22.4vw;
  padding-top: 1.45vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5vw;
}

/* todo text_01 */
#text_01 {
  /* background-color: rgba(235, 104, 104, 0.651); */
  height: 80%;
  width: 60%;
  font-size: 7vw;
  line-height: 7.6vw;
  text-transform: uppercase;
  margin: 4.7vw 0 0 27.4vw;
  position: relative;
}
.text_01_line {
  overflow: hidden;
}
#count01 {
  font-family: "silk serif lgt";
  font-style: italic;
  font-weight: 400;
  font-size: 3vw;
  color: white;
  -webkit-text-stroke: 0.3px white;
  padding: 5vw 0 0 21vw;
  position: absolute;
}

/* Section Links */
#web,
#graphic {
  display: inline-block;
  border-bottom: 8px solid;
  padding-bottom: 5px;
  transition: 0.5s;
}

#web {
  border-color: rgb(255, 255, 255);
}

#graphic {
  border-color: rgb(255, 255, 255);
}

#web:hover,
#graphic:hover {
  -webkit-text-stroke: 1px white;
  color: transparent;
  font-weight: 500;
  transition: 0.5s;
}

#page2 {
  background-color: #414141;
  width: 100%;
  height: 100vh;
}
#page2 {
  background-color: #151515;
  width: 100%;
  height: 100vh;
}
#vid-container {
  width: 71%;
  height: 76vh;
  position: relative;
  top: 17%;
  left: 29%;
  background-color: rgba(222, 149, 149, 0.562);
}
#play_pause {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: #ffa63d;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10%;
  left: 70%;
  z-index: 1;
  transition: color 0.35s cubic-bezier(0.3, 0.86, 0.36, 0.95);
}
#play_pause svg {
  padding-left: 9px;
  height: 4vh;
  width: 4vw;
}
#vid-container img {
  width: 100%;
  height: 100.5%;
  object-fit: cover;
  position: absolute;
}
#vid-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* todo page3 */

#page3 {
  width: 100%;
  height: 100vh;
  background-color: #151515;
  position: relative;
}
#page3_headline {
  width: 66%;
  height: 20vh;
  display: flex;
  align-items: center;
  margin: 4vh 0 0 29vw;
  font-size: 8vw;
  font-family: pl;
  text-transform: uppercase;
  border-bottom: 2px solid;
  padding-bottom: 4vw;
}
#count02 {
  font-family: "silk serif lgt";
  font-style: italic;
  font-weight: 400;
  font-size: 3vw;
  color: white;
  -webkit-text-stroke: 0.3px white;
  padding: 0 0 0 21vw;
  position: absolute;
}
#page3_container {
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  /* background-color: rgba(255, 201, 195, 0.516); */
  width: 70%;
  height: 80vh;
  position: relative;
  gap: 2.5vw;
  margin: 8vw 0 0 5vw;
}
#olga {
  width: 35%;
  height: 88%;
  /* background-color: rgba(112, 255, 134, 0.486); */
  /* padding: 4vw 0 4vw 0; */
}
#olga img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#aim {
  width: 44%;
  height: 110%;
  /* padding-top: 5.4vw; */
  /* padding: 4vw 0 4vw 0; */

  /* background-color: rgba(100, 154, 235, 0.546); */
}
#aim img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container_heading {
  width: 20vw;
  height: 7vh;
  font-size: 2.7vw;
  font-family: pl;
  text-transform: uppercase;
  margin-bottom: 3.8vw;
}
.container_text {
  margin: 1.7vw 0 0 0;
  width: 100;
  height: 20%;
  font-size: 1.2vw;
  display: flex;
  justify-content: space-between;
  font-family: pl;
  border-bottom: 1px solid;
  line-height: 1.5vw;
}
#down_arrow {
  width: 25vw;
  height: 25vw;
  position: relative;
  left: 84%;
  border: white solid 1px;
  border-radius: 50%;
  bottom: 12.5vh;
  transform: translateX(-50%);
  cursor: pointer;
}
#down_arrow svg {
  width: 10vw;
  height: 10vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#page4 {
  width: 100%;
  height: 100vh;
  background-color: #151515;
}
#page5 {
  width: 100%;
  height: 100vh;
  background-color: #232323;
}
