/* Font Faces */
@font-face {
  font-family: pl;
  src: url(plain-light-webfont.ttf);
}
@font-face {
  font-family: pr;
  src: url(plain-regular-webfont.ttf);
}
@font-face {
  font-family: silk serif lgt;
  src: url(silkserif-lightitalic-webfont.ttf);
}
@font-face {
  font-family: silk serif reg;
  src: url(silkserif-regularitalic-webfont.ttf);
}

/* Reset + Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #0c0c0c;
  font-family: pl;
  /* overflow: hidden; */
  cursor: none; /* Prevent scroll when loader is visible */
}

#crsr {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  position: fixed;
  z-index: 9999;
  border: 1px solid #b3b3b3;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: transform 0.2s ease;
}

/* Loader Layout */
#loader {
  width: 100%;
  height: 100vh;
  background: #0c0c0c;
  padding: 16.2vh 5vw 0 5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

/* First Line Layout */
#line1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.numbers {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  font-size: 3vw;
  font-family: "silk serif lgt";
  padding-left: 7.8vw;
  margin-top: 0.3vh;
}

.main-text {
  font-size: 6.8vw;
  text-transform: uppercase;
  font-family: pl;
  font-weight: 500;
  line-height: 1;
}

#line1 h1 {
  padding-right: 50vw;
}

.faded {
  position: relative;
  font-family: "pr";
  font-style: normal;
  opacity: 1;
  animation: anime 5s infinite ease-in-out;
}
@keyframes anime {
  0% {
    font-family: "pr";
    font-style: normal;
    opacity: 1;
    color: white;
  }

  48% {
    font-family: "pr";
    font-style: normal;
    opacity: 0;
    color: white;
  }

  50% {
    font-family: "silk serif reg";
    font-style: italic;
    -webkit-text-stroke: 0.3px white;
    color: transparent;
    opacity: 1;
  }

  100% {
    font-family: "silk serif reg";
    font-style: italic;
    -webkit-text-stroke: 0.3px white;
    color: transparent;
    opacity: 0;
  }
}

.line {
  overflow: hidden;
}

/* Wait Message */
#wait-message {
  font-size: 1vw;
  line-height: 1.5;
  font-family: pr;
  position: absolute;
  bottom: 20vh;
  left: 28vw;
  max-width: 140px;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

/* Main content */
#main-content {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  /* overflow: hidden; */
  background: #0c0c0c;
}
#page1 {
  background-color: #151515;
  width: 100%;
  height: 100vh;
}

#mainnav {
  width: 100%;
  height: 23vh;
  display: flex;
  /* background-color: cyan; */
}
#obyslogo {
  width: 27.5%;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5vw;
  gap: 3vw;
}
#obyslogo .brand__svg {
  width: 25%;
  height: 54%;
}
#obyslogo .menu-opener__square {
  width: 4.7%;
  height: 40%;
}
#nav {
  width: 72.5%;
  height: 8vw;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav #leftnav {
  width: 16.2vw;
  padding-top: 59px;
  line-height: 1.23vw;
}
#nav #rightnav {
  width: 22.4vw;
  padding-top: 1.45vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5vw;
}

/* todo text_01 */
#text_01 {
  /* background-color: rgba(235, 104, 104, 0.651); */
  height: 80%;
  width: 60%;
  font-size: 7vw;
  line-height: 7.6vw;
  text-transform: uppercase;
  margin: 4.7vw 0 0 27.4vw;
  overflow: hidden;
}
.text_01_line {
  overflow: hidden;
}

#web,
#graphic {
  display: inline-block;
  border-bottom: 8px solid;
  padding-bottom: 5px;
  transition: 0.5s;
}

#web {
  border-color: rgb(255, 255, 255);
}

#graphic {
  border-color: rgb(255, 255, 255);
}

#web:hover,
#graphic:hover {
  -webkit-text-stroke: 1px white;
  color: transparent;
  font-weight: 500;
  transition: 0.5s;
}

#page2 {
  background-color: #414141;
  width: 100%;
  height: 100vh;
}
